*{
    --color1: #0c0890;
    --color2: #00a0c1; /*rgba(0,160,193,1)*/
    --color3: rgb(194, 194, 0);
    --color4: rgb(190, 4, 190);
    --color5: #02d53a;
    --button1-color: linear-gradient(#fecc4c, #ffac33, #fe8c1a);
    --button2-color: linear-gradient(#02d53a,#01b521,#009508);
    --button3-color: linear-gradient(#1667e3,#1547ca, #1427b1);
    --button4-color: linear-gradient(#ff2021,#c70008,#c62021);
}

body{
    background-image: linear-gradient(to bottom right, var(--color1), var(--color2));
    min-height: 100dvh;
    width: 100%;
    margin: 0;
}

#game{
    background-color: rgba(0,160,193,.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 90%;
}

#stats{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat{
    color: var(--color3);
}

#text{
    color: white;
    margin-bottom: 20px;
}

#text a,
#text a:visited{
    color: var(--color3);
    cursor: pointer;
}

/*-----CONTROLS AND BUTTONS-----*/
/* button colors: rgb 001 032 25 (+/- light/dark) */
#controls{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0px;
    background-image: var(--button1-color);
    padding-bottom: 20px;
    padding-top: 20px;
}

#controls button{
    border-radius: 10px;
    cursor: pointer;
    width: calc(70px / 2 * 3);
    height: 70px;
}

#button1{
    background-image: var(--button1-color);
}

#button2{
    background-image: var(--button2-color);
}

#button3{
    background-image: var(--button3-color);
}

#button4{
    background-image: var(--button4-color);
}

/*-----BOLD TEXTS-----*/
b{
    color: var(--color4);
}

b.ra{
    color: white;
}

b.gp{
    color: var(--color5);
}

/*-----IMAGES-----*/
.home-image{
    border-radius: 40%;
    display: block;
    width: 90vw;
    max-width: 500px;
    margin: auto;
}

.stop{
    height: 42px;
    margin: 0;
}